<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.enchere_ap4">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
    <application android:label="Enchere_AP4.Android" android:theme="@style/MainTheme" android:usesCleartextTraffic="true">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyANpHzzMtvZD1JhqDNvQtsB1mF9j4VDPPo"/>
		
	</application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
</manifest>
